[submodule "2d_pathfinder"]
	path = 2d_pathfinder
	url = ./2d_pathfinder
[submodule "2d_ray_tracing"]
	path = 2d_ray_tracing
	url = ./2d_ray_tracing
[submodule "2d_water_sim"]
	path = 2d_water_sim
	url = ./2d_water_sim
